.home {
	margin: 2rem auto;
	padding: 1rem;
	max-width: 1640px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(22rem, 100%), 1fr));
	grid-template-rows: auto;
	gap: 1.5rem;
}

.home-wrapper {
	margin-top: 3rem;
}

@media screen and (min-width: 800px) {
	.page-main__sub-title {
		grid-column: 1 / 3;
	}
}
