*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html,
body {
	width: 100%;
	height: auto;
	background-color: rgb(28, 28, 28);
}

a {
	cursor: pointer;
}

.container {
	max-width: 1680px;
	margin: 0 auto;
	/* transform: translateX(50%); */
	/* border: 1px solid red; */
}

.page-main__title {
	margin-bottom: 3rem;
	color: white;
	position: relative;
}

.page-main__title::before {
	content: '';
	position: absolute;
	transform: translateX(-50%);
	bottom: -25%;
	left: 50%;
	height: 3px;
	width: 180px;
	background-color: rgb(102, 178, 254);
}

.page-main__title,
.page-main__sub-title {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-transform: uppercase;
}

.page-main__sub-title {
	font-size: 1.4rem;
	color: rgb(84, 84, 84);
}
